body,
html {
  font-family: "Comfortaa";
  font-weight: 300;
  font-size: 1rem;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(20%) saturate(70%);
}

.wrapper {
  display: flex;
  width: 100%;
  height: 0;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386d5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar a {
  color: white !important;
  text-decoration: none;
}

.inner {
  padding-left: 250px;
}

#map {
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
}

#chooseStreetFormContainer {
  padding: 10px;
  position: absolute;
  z-index: 10000;
  right: 40px;
  bottom: 40px;
  width: 400px;
}

#mapLegend {
  padding: 10px;
  position: absolute;
  z-index: 10000;
  right: 40px;
  top: 40px;
  width: 400px;
}

.bg-primary {
  background: #fff !important;
  color: #333 !important;
}

.bg-secondary,
.btn-secondary:not(:disabled) {
  background: #f77f00 !important;
  border-color: #f77f00 !important;
}

.card input {
  display: none;
}

.card-container img {
  max-width: 100%;
}

input:focus {
  outline-color: transparent;
  outline: none;
}
input[type="range"] {
  -webkit-appearance: none;
  -moz-apperance: none;
  height: 6px;
  background-color: #b6b6b6;
  outline-color: transparent;
}
input::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-apperance: none;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #f77f00 !important;
  overflow: visible;
}

.text-secondary {
  color: #f77f00 !important;
}

.text-color-gas {
  color: blue !important;
  opacity: 0.4;
}
.text-color-heat {
  color: red !important;
  opacity: 0.4;
}
.text-color-both {
  color: purple !important;
  opacity: 0.4;
}
.btn-secondary {
  background: #f77f00 !important;
  border-color: #f77f00 !important;
}
.btn-secondary:disabled {
  background: #aaa !important;
  border-color: #aaa !important;
}
.btn-primary {
  background: #333 !important;
  border-color: #333 !important;
}
.btn-primary:disabled {
  background: #aaa !important;
  border-color: #aaa !important;
}
.step-label {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.form-part {
	margin-top: 5vh;
	margin-bottom: 5vh;
}